* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 6rem;
  border-bottom: solid 2px black;
  padding: 20px;

  h1 {
    text-align: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 500px;
  margin: 0 auto;

  fieldset legend {
    margin-left: 20px;
  }

  #data-display {
    margin-bottom: 30px;
    padding: 10px;
    background: #e7e7e7;
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
}

  #course-form {
    margin: 20px;

    label {
      margin-right: 10px;
      width: 2rem;
      text-align: left;
      display: inline-block;  
    }
  
    input {
      margin-right: 5px;
      width: 10rem;
      margin-bottom: 10px;
    }

    .btn-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;

      #add-course-btn,
      #reset-btn {
        padding: 5px;
        width: 85px;
      }
    }
  }
}